body {
  font-family: helvetica, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  text-align: center;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}
